mixin footer()
	+b.FOOTER.footer.section
		.container
			+e.row.row
				.col-sm-4.col-lg-3
					+e.logo(href='/'): +img('img/svg/logo2.svg')
				.col-6.col-sm
					ul 
						li: a(href='https://radar.leader-id.ru/' target='_blank') Стартапы 
						li: a(href='https://radar.leader-id.ru/' target='_blank') Инвесторы 
						li: a(href='https://radar.leader-id.ru/' target='_blank') Меры поддержки
						li: a(href='https://radar.leader-id.ru/' target='_blank') Эксперты
						li: a(href='https://radar.leader-id.ru/' target='_blank') Мероприятия
						li: a(href='https://radar.leader-id.ru/' target='_blank') Новости
						li: a(href='https://radar.leader-id.ru/' target='_blank') Сделки
				.col-6.col-sm-4.col-lg-2
					+e.UL.secondary-list
						li: a(href='https://radar.leader-id.ru/' target='_blank') Вакансии 
						li: a(href='https://radar.leader-id.ru/' target='_blank') Пилоты 
						li: a(href='https://radar.leader-id.ru/' target='_blank') Мои подброрки
			+e.inner-row.row
				.col-sm
					p © 2022. Все права защищены
				.col-sm-auto
					a(href="#") Политика конфиденциальности
				.col-sm-auto
					a(href="#") Условия пользовательского соглашения