mixin footer()
	+b.FOOTER.footer.section
		.container
			+e.row.row
				.col-sm-4.col-lg-3
					+e.logo(href='/'): +img('img/svg/logo2.svg')
				.col-6.col-sm-auto.col-xl-3
					ul
						li
							a(href='https://radar.leader-id.ru/companies' )  Компании
						li
							a(href='https://radar.leader-id.ru/measure' )  Меры поддержки
						li
							a(href='https://radar.leader-id.ru/experts' )  Эксперты
						li
							a(href='https://radar.leader-id.ru/event' )  Мероприятия
						li
							a(href='https://radar.leader-id.ru/news' )  Новости
						li
							a(href='https://radar.leader-id.ru/investor' )  Инвесторы
						li
							a(href='https://radar.leader-id.ru/deal' )  Сделки

				.col-6.col-sm-auto
					+e.UL.secondary-list
						li
							a(href='https://pt.2035.university/vacancy'  rel='noreferrer' target='_blank')  Вакансии
						li
							a(href='https://radar.leader-id.ru/pilot' draggable='false')  Пилоты
						li
							a(href='https://radar.leader-id.ru/compilation' draggable='false') Мои подборки
			+e.inner-row.row
				.col-sm
					p ©  
						span.footer__year 2023
						| . Все права защищены 
				.col-sm-auto
					a(href="https://cloud.nti.work/index.php/s/KLxQqSJow3y7c42"  target="_blank") Политика конфиденциальности и условия пользовательского соглашения