mixin sExpirience(data)
	// start sExpirience
	+b.SECTION.sExpirience.section#sExpirience&attributes(attributes)
		+e.container.container
			+e.wrap
				img(src='img/bg-image-1.png' alt='').img-1
				img(src='img/bg-image-1.png' alt='').img-2
				//- +e.inner-wrap
				+b.section-title.text-center
					h2 Получите первый опыт. Покликайте демо
					p Вы&nbsp;сможете найти инвестора и&nbsp;запросить его контакты прямо внутри сервиса. А&nbsp;также, найти себе ментора или эксперта, который поделятся экспертизой и&nbsp;усилит ваш рост
					+e.label сервис полностью бесплатный
				+e.btn.btn.btn-light(href='#') Перейти к демо
				+img('img/sExpirience-img-1.png').monitor
	// end sExpirience