mixin sJoin(data)
	// start sJoin
	+b.SECTION.sJoin.section#sJoin&attributes(attributes)
		.container
			+e.inner
				+e.row.row
					.col
						+b.section-title
							h2 Присоединяйтесь к&nbsp;RADAR уже сейчас
							p Находите новые возможности одним кликом, получайте подробную информацию и&nbsp;запрашивайте прямые контакты. Все в&nbsp;рамках одной платформы!
					+e.col.col-auto
						+e.btn.btn.btn-primary(href="#") Зарегистрироваться
						+e.policy Нажимая кнопку &laquo;Присоединиться&raquo; я&nbsp;соглашаюсь с&nbsp;
							a(href="#") Политикой конфиденциальности и&nbsp;Условиями пользовательского соглашения.
	// end sJoin