mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6.col-xl-5
					h1 RADAR.  <br> НАЙДЕТСЯ ЛУЧШЕЕ
					p Единая витрина для поиска технологических компаний, инвесторов, корпораций, мер поддержки, экспертов, мероприятий и&nbsp;инвестиционных сделок
					+e.inner-row.row
						.col-sm-auto
							+e.btn.btn.btn-light(href='https://radar.leader-id.ru/' target='_blank') Запустить RADAR
						//- .col-sm-auto
						//- 	+e.btn.btn.btn-outline-light(href='https://radar.leader-id.ru/' target='_blank') Попробовать Demo
				+e.col.col
					img(src='img/headerBlock-img-1-update.png').img
		+e.circle
	// end headerBlock