extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sInfo/_sInfo.pug
include ../blocks/sExpirience/_sExpirience.pug
include ../blocks/sCompany/_sCompany.pug
include ../blocks/footer/_footer.pug
include ../blocks/sJoin/_sJoin.pug
include ../blocks/sLogos/_sLogos.pug
include ../blocks/sRadar/_sRadar.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+top-nav()
		//- +topLine
	main
		+headerBlock 
		//- +sRadar
		+sAdvantages
		+sInfo
		+sLogos
		+sJoin
		//- +sCompany
		//- +sForm
	+footer()
      



