mixin sInfo(data)
	// start sInfo
	+b.SECTION.sInfo.section#sInfo&attributes(attributes)
		.container
			.tabs
				.tabs__caption
					.tabs__btn.active Технологическим компаниям
					.tabs__btn Инвесторам и корпорациям
				.tabs__wrap
					mixin wrap(img, title, text)
						+e.row.row
							.col-lg-6
								h3!= title
								p!= text
								+e.inner-row.row
									block
							.col-lg-6
								+img(`img/${img}`).side-img
					mixin item(icon, title, text)
						.col-sm-6
							+e.item
								+img(`img/svg/${icon}`)
								+e.title!= title
								+e.text!= text
					//- .tabs__content.active
						//- +wrap(`sInfo-img-1.png`, `Единое место всех возможностей без разрозненности`, `На&nbsp;нашей платформе вы&nbsp;сможете найти информацию о&nbsp;всех возможностях роста для стартапов: конкурсы, гранты и&nbsp;субсидии, инвесторы и&nbsp;фонды, мероприятия, новости и&nbsp;эксперты. Единый поиск по&nbsp;всем данным в&nbsp;одном месте`)
						//- 	+item(`sInfo-icon-1.svg`, `Актуальные данные`, `Обновляем данные в&nbsp;системе каждый день, чтобы они всегда были полными и&nbsp;актуальными`)
						//- 	+item(`sInfo-icon-2.svg`, `Подробная информация`, `Покажем все необходимые детали про конкретное мероприятие, инвестора и&nbsp;любую другую возможность`)
						//- +wrap(`sInfo-img-2.png`, `Находите только самое релевантное для вас`, `Вы&nbsp;сможете использовать детальные фильтры или персональный подбор возможностей, чтобы выбрать только релевантное для вашего стартапа. А&nbsp;умный поиск учитывает специфику вышего стартапа и&nbsp;интересы, чтобы находить наиболее подходящие варианты`)
						//- 	+item(`sInfo-icon-3.svg`, `Детальные фильтры`, `У&nbsp;нас очень детальные фильтры для даже самых уникальных стартапов`)
						//- 	+item(`sInfo-icon-4.svg`, `Персональная подборка`, `Подберем инвесторов и&nbsp;меры поддержки персонально под ваш стартап и&nbsp;запросы`)
						//- +wrap(`sInfo-img-3.png`, `В&nbsp;центре&nbsp;&mdash; люди`, `Вы&nbsp;сможете найти инвестора и&nbsp;запросить его контакты прямо внутри сервиса. А&nbsp;также, найти себе ментора или эксперта, который поделятся экспертизой и&nbsp;усилит ваш рост`)
						//- 	+item(`sInfo-icon-5.svg`, `Контакты инвестора`, `Запрашивайте контакты релевантных инвесторов, общайтесь и&nbsp;договаривайтесь о&nbsp;выгодной сделке`)
						//- 	+item(`sInfo-icon-6.svg`, `Эксперты`, `Ищите подходящих экспертов и&nbsp;запрашивайте консультации для усиления компетенций и&nbsp;роста`)

					
					.tabs__content.active
						+wrap(`sInfo-img-1.png`, `Пространство возможностей для роста стартапов`, `На платформе собрана информация для стартапов по всем направлениям: инвестиции и акселерация, экспертная помощь и грантовые конкурсы, свежие новости и проверенные инвесторы. Одна платформа – один поиск!`)
							+item(`sInfo-icon-1.svg`, `Актуальные данные`, `ВИнформация обновляется и проверяется каждый день: всегда полная и актуальная`)
							+item(`sInfo-icon-2.svg`, `Подробная информация`, `Все детали про конкретное мероприятие, инвестора и другие возможности для вашего роста`)
						+wrap(`sInfo-img-2.png`, `Подбор информации под ваши запросы`, `Умный поиск, который учитывает ваши интересы. Настраиваемые фильтры и персональные рекомендации для вашего стартапа – поиск лучших вариантов`)
							+item(`sInfo-icon-3.svg`, `Детальные фильтры`, `Наш поиск можно настроить даже для самого необычного стартапа`)
							+item(`sInfo-icon-4.svg`, `Персональная подборка`, `Персональный подбор инвесторов, мер поддержки и мероприятий под ваш стартап`)
						+wrap(`sInfo-img-3.png`, `Инвесторы ближе, чем вы думаете`, `Сервис позволяет запросить контакты инвестора напрямую, найти ментора или опытного эксперта`)
							+item(`sInfo-icon-5.svg`, `Контакты инвестора`, `Запрашивайте прямые контакты инвестора и договаривайтесь о выгодной сделке`)
							+item(`sInfo-icon-6.svg`, `Эксперты и менторы`, `Пользуйтесь сервисом консультаций и экспертизы, чтобы развить ваш бизнес`)

					.tabs__content
						+wrap(`sInfo-img-1.png`, `Единая витрина стартапов с&nbsp;самой полной информацией`, `На нашей платформе вы найдёте проверенную и полную информацию по всем стартапам, изложенную подробно и чётко`)
							+item(`sInfo-icon-1.svg`, `Актуальные данные`, `Информация обновляется и проверяется каждый день: всегда полная и актуальная`)
							+item(`sInfo-icon-2.svg`, `Единое место`, `Собрали в едином месте самое полное количество стартапов из официальных реестров России`)
						+wrap(`sInfo-img-2.png`, `Простая структура данных и&nbsp;подробная информация`, `Расскажем чем конкретно занимается каждый стартап, в&nbsp;чем преимущества его продукта и&nbsp;команды. А&nbsp;также, покажем его технологии, патенты и&nbsp;30+&nbsp;других параметров`)
							+item(`sInfo-icon-3.svg`, `Детали в фокусе`, `Получите полную информацию о стартапе для принятия взвешенного решения`)
							+item(`sInfo-icon-4.svg`, `Понятная стуктура`, `Мы упростили поиск, сделав его за вас: теперь все данные хранятся в единой базе и доступны по одному клику`)
						+wrap(`sInfo-img-3.png`, `Находите то, что вы хотели.  Используйте то, что вам полезно`, `Используйте воронку фильтров, чтобы отсеять лишнюю информацию и&nbsp;сконцентрироваться на&nbsp;важном, а&nbsp;умный поиск платформы предложит вам подходящие варианты точечно под необходимую технологию, сферу или другую задачу`)
							+item(`sInfo-icon-5.svg`, `Подробные фильтры`, `Каким бы сложным ни был ваш запрос, поисковая система предложит вам наилучшие варианты`)
							+item(`sInfo-icon-6.svg`, `Персональная подборка`, `Подберем стартапы для инвестиций под ваш уникальный запрос`)


	// end sInfo