mixin sInfo(data)
	// start sInfo
	+b.SECTION.sInfo.section#sInfo&attributes(attributes)
		.container
			mixin wrap(img, title, text)
				+e.row.row
					.col-lg-6
						h3!= title
						p!= text
						+e.inner-row.row
							block
					.col-lg-6
						+img(`img/${img}`).side-img
			mixin item(icon, title, text)
				.col-sm-6
					+e.item
						+img(`img/svg/${icon}`)
						+e.title!= title
						+e.text!= text
			+wrap('sInfo-img-1.png', 'Единое место всех возможностей без разрозненности', 'На&nbsp;нашей платформе вы&nbsp;сможете найти информацию о&nbsp;всех возможностях роста для стартапов: конкурсы, гранты и&nbsp;субсидии, инвесторы и&nbsp;фонды, мероприятия, новости и&nbsp;эксперты. Единый поиск по&nbsp;всем данным в&nbsp;одном месте')
				+item('sInfo-icon-1.svg', 'Актуальные данные', 'Обновляем данные в&nbsp;системе каждый день, чтобы они всегда были полными и&nbsp;актуальными')
				+item('sInfo-icon-2.svg', 'Подробная информация', 'Покажем все необходимые детали про конкретное мероприятие, инвестора и&nbsp;любую другую возможность')
			+wrap('sInfo-img-2.png', 'Находите только самое релевантное для вас', 'Вы&nbsp;сможете использовать детальные фильтры или персональный подбор возможностей, чтобы выбрать только релевантное для вашего стартапа. А&nbsp;умный поиск учитывает специфику вышего стартапа и&nbsp;интересы, чтобы находить наиболее подходящие варианты')
				+item('sInfo-icon-3.svg', 'Детальные фильтры', 'У&nbsp;нас очень детальные фильтры для даже самых уникальных стартапов')
				+item('sInfo-icon-4.svg', 'Персональная подборка', 'Подберем инвесторов и&nbsp;меры поддержки персонально под ваш стартап и&nbsp;запросы')
			+wrap('sInfo-img-3.png', 'В&nbsp;центре&nbsp;&mdash; люди', 'Вы&nbsp;сможете найти инвестора и&nbsp;запросить его контакты прямо внутри сервиса. А&nbsp;также, найти себе ментора или эксперта, который поделятся экспертизой и&nbsp;усилит ваш рост')
				+item('sInfo-icon-5.svg', 'Контакты инвестора', 'Запрашивайте контакты релевантных инвесторов, общайтесь и&nbsp;договаривайтесь о&nbsp;выгодной сделке')
				+item('sInfo-icon-6.svg', 'Эксперты', 'Ищите подходящих экспертов и&nbsp;запрашивайте консультации для усиления компетенций и&nbsp;роста')
	// end sInfo